<html xmlns:th="http://www.thymeleaf.org">

<body>
    <h1>Registration Page</h1>
    <b th:text="${errormsg}"></b>
    <form action="/signup" method="post">
        <pre>
            FirstName:<input type="text" name="firstName" th:value="${user.firstName}"/>
            LastName:<input type="text" name="lastName" th:value="${user.lastName}"/>
            Email:<input type="email" name="email" th:value="${user.email}"/>
            password:<input type="password" name="password" />
            <input type="submit" value="Login" />
        </pre>
    </form>
</body>

</html>